// application variables

$mediaSmall: 320px;
$mediaNormal: 500px;

$font: 16px/20px Ubuntu, sans-serif;

$headerHeight: 52px;
$footerHeight: 52px;
$inputHeight: 36px;

$iconSizeSmall: 16px;
$iconSizeNormal: 32px;
$iconSizeLarge: 48px;

$itemMargin: 10px;
$itemHeight: 26px;

$colorTextMain: #555;
$colorTextHint: #bbb;
$colorTextError: #f00;

$colorBackgroundMain: #fff;
$colorBackgroundShade: #fafafa;

$colorButton: #7c94c1;
$colorButtonHover: #627598;

$colorBorder: #ddd;

$paddingSmall: 5px;
$paddingNormal: 10px;
$paddingLarge: 15px;
$borderRadius: 4px;
