.icon {
    &--small {
        height: $iconSizeSmall;
        width: $iconSizeSmall;
    }

    &--normal {
        height: $iconSizeNormal;
        width: $iconSizeNormal;
    }

    &--large {
        height: $iconSizeLarge;
        width: $iconSizeLarge;
    }
}
