// top-level page block
#pageInit.invisible

    table
        tr
            td.header.
                FortNotes Online Password Manager
        tr
            td.body
        tr
            td.footer=package.version
