// top-level page block
#pageInit

    table
        tr
            td.header.
                FortNotes Online Password Manager
        tr
            td.body.
                Loading ...
        tr
            td.footer
                span.title v
                span.value=package.version
