// top-level page block (visible by default)
#pageInit.component.page.active

    table
        tr
            td.header.
                FortNotes Online Password Manager
        tr
            td.body.
                Loading ...
        tr
            td.footer
                span.title version
                span.value= version
