// top-level page block
#pageMain

    table
        tr
            td.header.
                FortNotes Online Password Manager
        tr
            td.body
                #pmBtnDisconnect
                #pmBtnAddNode
                #pmNodeList
        tr
            td.footer
                #nodeId
