// top-level page block
#pageMain.invisible

    table
        tr
            td.header.
                FortNotes Online Password Manager
        tr
            td.body
                #pmBtnDisconnect
                #pmBtnRemoveNodes
                #pmBtnAddNode
                #pmNodeList
        tr
            td.footer
                .block.version
                    div version:
                    a(href='https://github.com/fortnotes/client')=package.version
                .block.server
                    #serverAddressLabel server:
                    a#serverAddressValue (n/a)
                .block
                    #nodeIdLabel node id:
                    #nodeIdValue (n/a)
                .block
                    #nodeNameLabel node name:
                    #nodeNameValue (n/a)
